<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Navigation{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    {% block leaflet %}
    {% endblock %}
    {% block style %}
    {% endblock %}
</head>
<body>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Drone</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sensor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Object</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Organization</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Employee</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Справочник
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Brand</a></li>
                        <li><a class="dropdown-item" href="#">Category</a></li>
                        <li><a class="dropdown-item" href="#">Country Origin</a></li>
                        <li><a class="dropdown-item" href="#">Manufacturer</a></li>
                        <li><a class="dropdown-item" href="#">Region</a></li>
                        <li><a class="dropdown-item" href="#">District</a></li>
                        <li><a class="dropdown-item" href="#">Position</a></li>
                        <li><a class="dropdown-item" href="#">Sensortype</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <input class="btn btn-outline-success" type="submit" value="Search">
            </form>
        </div>
    </div>
</nav>



{% block content %}
{% endblock %}


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

{% block script %}
{% endblock %}
</body>
</html>